*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://media.istockphoto.com/id/1172940354/vector/vector-circle-tech-with-light-blue-and-lamp-bulb-on-technology-background.jpg?s=612x612&w=0&k=20&c=8bUJ3-cIkAQz1E-1mugZodjYoKNt5g9k0t7b-SB8qH8=);
    background-size: cover;
    background-repeat: none;
    background-position: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: aquamarine;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}
.Forgot a:hover{
    color: aqua;
}
.container{
    border: 1px solid aquamarine;
    border-radius: 6px;
    width: 350px;
    height: 400px;
    padding: 30px 40px 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.name input{
    background: transparent;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 20px 45px 20px 20px;
}
input::placeholder{
    color: aliceblue;
}
button {
    width: 100%;
    height: 50px;
    border-radius: 6px;

}
button a{
    color: black;
}
.register, .Forgot{
    margin: 6px;
}
.register{
    display: flex;
    flex-direction: row;
}
.register a:hover{
    color: aqua;
}